$azul-negro: #0A1827;
$azul-claro: #27558B;
$celeste-claro: #4C88CD;
$celeste-oscuro: #27558B;
$azul-oscuro-degrade1: #0e3562;
$azul-oscuro-degrade2: #0b386c;
$rojo-boton: #ad2f2fa9;
$rojo-brillante: #a82828;
$violeta-sombra: #2a2a72;

